@keyframes fly {
    0% {
        right: 0px;
        top: 0px;
        transform: scale(1,1);
    }
    100% {
        right: -700px;
        top: -150px;
        transform: scale(0.5,0.5);
    }
}
  
