%volkhov-bold{
    font-family: 'Volkhov', serif;
    font-weight: 700;
}
%opensans-semibold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
%poppins-semibold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
%poppins-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
%poppins-medium{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
%poppins-normal{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

%google-medium{
    font-family: 'Google Sans Medium';
    font-weight: 500;
}

$title-color : #14183E;
$footer-color : #080809;
$main-title-color : #181E4B;
$main-subtitle-color : #DF6951;
$nav-color : #212832; 
$general-color : #5E6282;
$service-color : #1E1D4C;
$button-color : #686D77;
$button-background: #f1a501;
$accent-color : #8a79df;
$blue-shadow : #59b1e6;
